/* src/styles/Home.module.css */
.container {
    padding: 2rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  .compareButtonContainer {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: center; /* Center the button vertically */
    margin: 2rem auto;
  }
  
  .compareButton {
    display: flex;
    justify-content: center; /* Centers the text inside the button horizontally */
    align-items: center; /* Centers the text inside the button vertically */
    padding: 1rem;
    font-size: 0.8rem;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: bold;
    width: 100px; /* Sets the explicit width of the button */
    height: 30px; /* Sets the explicit height of the button */
  }
  
  .compareButton:hover {
    background-color: #005bb5;
  }
  